<div class="container custom-container-2">
  <div class="row">
    <nav class="navbar">
      <input class="form-control" type="text" name="search">      
    </nav>
  </div>

  <!-- Show it when there is no employee -->
  <div class="no-data text-center" *ngIf="Item.length == 0">
    <p>There is no item added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/create-item">Add Item</button>
  </div>

  <!-- Employees list table, it hides when there is no employee -->
  <div *ngIf="Item.length !== 0">
    <h3 class="mb-3 text-center">Items List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th (click)="sort('ec2Id')" scope="col">Id</th>
            <th (click)="sort('name')" scope="col">Name</th>
            <th (click)="sort('type')" scope="col">Type</th>
            <th (click)="sort('state')" scope="col">az</th>
            <th (click)="sort('az')" scope="col">Public IP</th>
            <th (click)="sort('privateIP')" scope="col">Private IP</th>
            <th (click)="sort('privateIP')" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Item | sort:(reverse? 'asc' : 'desc'):key">
            <td>{{item.ec2Id}} * </td>
            <td>{{item.name}} * </td>
            <td>{{item.type}} * </td>
            <td>{{item.state}} * </td>
            <td>{{item.az}} * </td>
            <td>{{item.privateIP}} * </td>
            <td>{{item.privateIP}}</td>
            <td>
              <span class="edit" routerLink="/item-edit/{{item.id}}">Edit</span>
              <span class="delete" (click)="deleteItem(item.id)">Delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>


